<div class="news-sidebar">
    <h4>News</h4>
    <div class="news-item">
        <div class="date">2024 07 08-12</div>
        <p><em><a
                    href="https://neurodatawithoutborders.github.io/nwb_hackathons/HCK21_2024_Janelia_NDRH/">NeuroDataReHack</a>
                at the HHMI Janelia Research Campus</em></p>
    </div>

    <div class="news-item">
        <div class="date">2024 07 02</div>
        <p><em><a href="https://neurodatawithoutborders.github.io/nwb_hackathons/HCK20_2024_OpenNeurodataShowcase/">Open
                    Neurodata Showcase</a> hosted virtually in Gather</em></p>
    </div>

    <div class="news-item">
        <div class="date">2024 04 15-16</div>
        <p><em><a href="https://neurodatawithoutborders.github.io/nwb_hackathons/Workshop_2024_BCM/">NWB and DANDI
                    Workshop</a> at Baylor College of Medicine</em></p>
    </div>

    <div class="news-item">
        <div class="date">2024 02 29</div>
        <p><em><a href="https://neurodatawithoutborders.github.io/nwb_hackathons/Cosyne_2024/">NWB and DANDI
                    Tutorial</a> at the COSYNE Conference</em></p>
    </div>

    <div class="see-all">
        <h4><a href="/news">... see all News</a></h4>
    </div>
</div>